{% extends "study_companion/base_content.html" %}
{% load static %}

{% block page_title %}
    <h1 class="page-title">
        <span class="material-symbols-outlined">book</span>
        Editar Disciplina
    </h1>
{% endblock %}

{% block content_body %}
<div class="evento-form-container">
    <h2>Editar Disciplina: {{ disciplina.nome }}</h2>
    <form method="post" class="evento-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.label_tag }} {{ form.nome }}
        </div>
        <div class="form-group">
            {{ form.descricao.label_tag }} {{ form.descricao }}
        </div>
        <div class="form-group">
            {{ form.periodo.label_tag }} {{ form.periodo }}
        </div>
        <div class="form-group">
            {{ form.cor_hex.label_tag }} {{ form.cor_hex }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'disciplinas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}